extends ./../template/base

block content 
  main.main
    .card-container 
      h1 Alle Reisen
      each tour in tours
        a.linkTour(href = `/tours/${tour.name}`) #{tour.name}
        p.tourDescription 
          p Beschreibung: 
            span= tour.description  
        p.tourImage 
          p.imageCover Bilder: 
            span= tour.imageCover          
        p.tourDestination 
          p Reiseziele: 
            a(href=`/destination/detail/${tour.destination}`)= tour.destination
        p.tourID 
          p id: 
            span= tour._id        